extends layout

block content
    div.modal#modal
        div.modal-background
            div.modal-content
            div.modal-card.modal-shift
                header.modal-card-head
                    p.modal-card-title.has-text-centered Register or Login
                    button.delete(onclick='CloseModal()')
                section.modal-card-body
                    h1.is-danger.this-is-hidden#userExists User already registered, please login
                    h1.is-danger.this-is-hidden#failedLogin Incorrect login attempy, please try again
                    h1.is-danger.this-is-hidden#registerSuccess Successfully created account! Please login.

                    div.field
                    p.control.has-icons-left.has-icons-right
                        input.input(type="email" placeholder="Username")#username
                        span.icon.is-small.is-left
                            i.fas.fa-user
                        span.icon.is-small.is-right
                            i.fas.fa-check
                    div.field
                    p.control.has-icons-left
                        input.input(type="password" placeholder="Password")#password
                        span.icon.is-small.is-left 
                            i.fas.fa-lock
                footer.modal-card-foot.is-centered
                    div.card-footer-item 
                        button.button.is-success.is-fullwidth(onclick='Register()') Register
                        button.button.is-info.is-fullwidth(onclick='Login()') Login
                        button.button.is-danger.is-fullwidth(onclick='CloseModal()') Cancel
            
    section.hero.is-success.is-bold.is-fullheight
        div.hero-body
            div.container
                h1.title.has-text-centered.text-large.text-title foodApp
                h1.title.has-text-centered.text-splash-title
                    button.button.is-large.is-inverted.is-success(onclick='OpenModal()') &nbsp; &nbsp; &nbsp; Login / Register Now &nbsp; &nbsp; &nbsp; 



